/abbrev_defs
/.DS_Store
/.wcy_desktop_save
/ac-comphist.dat
/ido.last
/places
/smex-items
helm-history
recentf
session.*
auto-save-list/*
eshell/*
lisps/personal-info.el
elpa/archives/org/archive-contents
elpa/archives/marmalade/archive-contents
