/abbrev_defs
/.DS_Store
/.wcy_desktop_save
/.python-environments
/ac-comphist.dat
/ido.last
/places
/smex-items
helm-history
recentf
session.*
auto-save-list/*
eshell/*
*~
*.elc
*.pyc
request/
tramp
network-security.data
lisps/personal-info.el
elpa/*
/url/*
\#*\#
semanticdb/
history
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
amx-items
.cache/
/.extension/
/forge-database.sqlite
/projectile-bookmarks.eld
/status.log
/transient/
/var/
